<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lectures</title>

    <style>
        body{
            margin-left: 1cm;
        }
        .folder-button {
            display: flex;
            background-color: #f4a261;
            width: 260px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            justify-content: center;
            line-height: 100px;
            font-size: 24px;
            color: #ffffff;
            text-decoration: none;
            margin: 40px;
        }
        form{
            text-align: right;
            margin-right: 5cm;
            margin-top: 1cm;
        }
        form button{
            width: 3cm;
            height: 1cm;
            border-radius: 10px;
            border: 0;
            background-color: #FF0000;
            color: white;
            font-size: 15px;
            cursor: pointer;
        }
        .back_buts{
            display: flex;
            margin: 0;
            margin-left: 5cm;
            justify-content: center;
        }
        .back_buts form button{
            text-align: center;
            background-color: #f4a261;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            color: #ffffff;
            width: 5cm;
            height: 1cm;
            border-radius: .5cm;
            border: 0px;
            cursor: pointer;
            margin-top: 1cm;
        }
    </style>

</head>

<body>
    <form action="/logout">
        <button type="submit">Logout</button>
    </form>
    <table>
        <% for (let i = 0; i < modules.length; i++) { %>
            <% if (i % 2 === 0) { %>
                <tr>
            <% } %>
        
            <td><a href="<%= modules[i].Path %>" class="folder-button"><%= modules[i].Name %></a></td>
        
            <% if (i % 2 === 1 || i === modules.length - 1) { %>
                </tr>
            <% } %>
        <% } %>        
    </table>
    <div class="back_buts">
        <form action="/Wedc-It">
            <button type="submit">Back to Home</button>
        </form>
    </div>
</body>
