<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Accounts</title>
    <style>
        #rendered-users{
            text-align: center;
        }
        #rendered-users table{
            border: 1px solid black;
            color: white;
            border-radius: 3px;
        }
        #rendered-users table tr td{
            border: 1px solid white;
            background-color: #f4a261;
            padding: 15px;
        }
        #removeButton{
            background-color: white;
            color: #f4a261;
            padding: 12px;
            border: 0;
            cursor: pointer;
        }
        #nav-button{
            margin-top: 1cm;
        }
        #back-to-home{
            text-align: center;
            background-color: #f4a261;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            color: #ffffff;
            width: 5cm;
            height: 1cm;
            border-radius: .5cm;
            border: 0px;
            cursor: pointer;
            margin-top: 1cm;
        }
    </style>
</head>
<body>
    <div id="rendered-users">
        <table align="center">
            <tr>
                <td>Email</td>
                <td>Role</td>
                <td>Action</td>
            </tr>
            <% for (let user of users) { %>
                <tr>
                    <td><%= user.email %></td>
                    <td><%= user.role %></td>
                    <td>
                        <form action="/admin-deleteAccount" method="post">
                            <input type="hidden" value="<%= user.email %>" name="requestAccount">
                            <input type="submit" value="Remove" id="removeButton">
                        </form>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>
    <div id="nav-button" align="center">
        <button id="back-to-home">Back To Home</button>
    </div>
    <script>
        let homeButton = document.getElementById('back-to-home');

        homeButton.addEventListener('click', () => {
            window.location = '/Wedc-it?';
        })
    </script>
</body>

</html