<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Module</title>
</head>
<body>
    <div>
        <h1>Add Module</h1>
    </div>
    <div>
        <form action="/admin-uploadModule" method="post">
            <label for="moduleName">Module Name: </label>
            <input type="text" name="moduleName">
            <label for="modulePath">Module Path: </label>
            <input type="text" name="modulePath">
            <input type="submit" value="Add Module">
        </form>
    </div>
</body>
</html>