<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Module</title>
</head>
<body>
    <div>
        <h1>Add Module</h1>
    </div>
    <div>
        <form action="/admin-uploadModule" method="post">
            <label for="moduleName">Module Name: </label>
            <input type="text" name="moduleName">
            <label for="modulePath">Module Path: </label>
            <input type="text" name="modulePath">
            <select name="publishing-detail" id="module-visibility">
                <option value="undecided">Select module visibility</option>
                <option value="unpublished">Unpublished</option>
                <option value="published">Published</option>
            </select>
            <input type="submit" value="Add Module" id="addMod-submit">
        </form>
    </div>
        <% if(error != null){ %>
            <div id="errorMessage"></div>
                <h5>Error: <%= error %></h5>
            </div>
        <% } %>      
</body>
</html>