<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Modules</title>
</head>
<body>
    <table>
        <tr>
            <td>Module Name</td>
            <td>Module Path</td>
            <td>Actions</td>
        </tr>
        <% for(let mod of modules) { %>
            <tr>
                <td><%= mod.Name %></td>
                <td><%= mod.Path %></td>
                <td><%= mod.Hidden%></td>
                <td>
                    <form action="/admin-removeModule" method="post">
                        <input type="hidden" name="mod" value="<%= mod.Name %>">
                        <input type="submit" id="removeModule" value="Remove Module">
                    </form>
                </td>
            </tr>
        <% } %>
    </table>
    <div>
        <form action="/admin-addModule" method="get">
            <input type="submit" value="Add Module">
        </form>
    </div>
</body>
</html>
